.posts, .profiles {
    margin: 1rem 0 0 0;
    padding: 1rem 0.5rem;
}

.commentAndEmoji {
    justify-content: end;
    margin-top: 0.4rem;
}

.profileName {
    background-color: #e7e6e661;
    border-radius: 1ch 0 0 1ch;
    padding: 0.4rem 0;
}
.profileName p{
    margin: 0;
    padding: 0 0 0 1rem;
}
.profileBtn{
    background-color: #1B8ED6;
    border-radius: 0 1ch 1ch 0;
    padding: 0.4rem 0;
    cursor: pointer;
    text-align: center;
}

.postAPost{
    margin-top: 1.2rem;
    background-color: #b56b039d;
    border: none;
    border-radius: 0.2ch;
    color: white;
    padding: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.postBody{
    background-color: #e7e6e661;
    margin-top: 1rem;
    padding: 0.4rem 0;
    border-radius: 1ch;
}

.postBody h3{
    font-size: 1.2rem;
}
.postBody p{
    font-size: 1rem;
    color: #707070;
}

.labelpost{
    background-color: #F8F7F7;
    padding: 0.3rem 0;
    border: none;
}

.commentOnPost,
.postAComment{
    padding: 0.6rem;
    border-radius: 1ch;
}

.commentOnPost {
    border:none;

}
.postAComment{
    margin-left: 0.4rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    border:none;
    background: none;
    color: #b56b03;;
}
.postAComment:hover{
    background-color: #b56b03;
    color: white;
}

.commentOnPost:focus {
    outline: 1px solid #b56b03db;
    
}
.post-id{
    color: #C9C9C9;
}

.followContainer{
    text-align: end;
}
.followButton {
    color: #2462B7;
    border: none;
    background-color: white;
}
.followButton:hover{
    font-weight: 700;
}

.deleteYourPost button {
    background-color: #b56b039d;
    border: none;
    border-radius: 0.2ch;
    color: white;
    padding: 0.4rem 0.8rem;
}
.editYourPost button{
    background-color: #1B8ED6;
    border: none;
    border-radius: 0.2ch;
    color: white;
    padding: 0.4rem 0.8rem;

}